html,
body {
  padding: 0;
  margin: 0;
  background: rgb(13, 21, 33);
  background: linear-gradient(
    180deg,
    rgba(13, 21, 33, 1) 0%,
    rgba(15, 28, 45, 1) 100%
  );
  color: #e8e8e8;
  font-family: "Roboto Serif", sans-serif;
  height: 100vw;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container {
    text-align: center;
  }
}
